doctype html
// コメント
html(lang="ja")
  head
    meta(charset="utf-8")
    script(src="index.js")
    link(rel='stylesheet', href="main.css")
    title テスト
  body
    div(class="reversi")
      - for (var x = 0; x < 64; x++)
        div
          p
    div(class="btnContainer")
      button(id="prev")
        | <
      button(id="next")
        | >
