doctype html
// コメント
html(lang="ja")
  head
    meta(charset="utf-8")
    script(src="index.js")
    link(rel='stylesheet', href="main.css")
    title テスト
  body
    div(class="reversi")
      div
      each c in [ "A", "B", "C", "D", "E", "F", "G", "H" ]
        div #{c}
      - for (let y = 0; y < 8; y++)
        div #{y+1}
        - for (let x = 0; x < 8; x++)
          div(class="square")
            p
    div(class="btnContainer")
      button(id="prev") <
      button(id="next") >
