div.reversi
  $size: 180px
  width: $size
  height: $size
  div
    $margin: 1px
    $sqSize: $size / 9 - $margin * 2
    margin: $margin
    width: $sqSize
    height: $sqSize
    float: left
    display: flex
    color: black
    font-size: 8pt
    text-align: center
    &.square
      background-color: darkgreen
      &:nth-child(9n+1)
        clear: both
      p
        width: 80%
        height: 80%
        margin: auto
        border-radius: 50%
        &.w
          background-color: white
        &.b
          background-color: black
